<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
<connectionStrings><add name="PPTPEntities" connectionString="metadata=res://*/DBInfo.csdl|res://*/DBInfo.ssdl|res://*/DBInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PPTP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>